# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
*.db

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
